extends ../templates/base


append sharedVars
  - var pageUrl = 'index.html';

block title
  | Index page
block main

  section.section-intro
    .container
      .demo-slider
        div.slick-item.back-img(style="background-image: url('src/imgs/sample-img-1.jpg')")
          h1.split-text.title Home lorem ipsum
          h3.subtitle Dolor color molor
        div.slick-item.back-img(style="background-image: url('src/imgs/sample-img-2.jpg')")
          h1.split-text.title Lorem ipsum
          h3.subtitle Dolor color molor
        div.slick-item.back-img(style="background-image: url('src/imgs/sample-img-3.jpg')")
          h1.split-text.title Ipsum dolor
          h3.subtitle Dolor color molor