.section-intro {
  position: relative;
  min-height: 100vh;
  color: white;
  padding: 0;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
  }



  .slick-slider {
    width: 100%;

    .slick-item {

      width: 100%;
      min-height: 100vh;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 700;
      }

      .subtitle {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}